---
title: events &amp; schedule

# NOTE: When editing the schedule and events, follow the existing format.
# If you follow the format, the page will render correctly and it will have the
#   correct mobile-responsive behavior.


# For schedule items, remember to put the time in a span with a bold tag around
#   the time numbers.
#   For example:
#     - time: <span><b>8:00</b>am</span>
#       activity: Doors open

# For all dances, if the name of the dance has a space in it, use a
#   non-breaking space ("&nbsp;").
#   For example: "Viennese&nbsp;Waltz"

# For multi-dance events, put a non-breaking space ("&nbsp;") right before
#   each slash, and a normal space (" ") after each slash.
#   So, between each dance should be: "&nbsp;/ "
#   For example: "Cha-Cha&nbsp;/ Samba&nbsp;/ Rumba&nbsp;/ Paso&nbsp;Doble&nbsp;/ Jive"


schedule:
  - time: <span><b>8:00</b>am</span>
    activity: Doors open
  - time: <span><b>9:00</b>am</span>
    activity: Syllabus American Smooth
  - time: <span><b>10:45</b>am</span>
    activity: Syllabus International Standard
  - time: <span><b>12:45</b>pm</span>
    activity: Judges break, Social dancing
  - time: <span><b>1:15</b>pm</span>
    activity: Syllabus American Rhythm
  - time: <span><b>3:00</b>pm</span>
    activity: Syllabus International Latin
  - time: <span><b>5:00</b>pm</span>
    activity: Dinner break
  - time: <span><b>6:00</b>pm</span>
    activity: Nightclub events
  - time: <span><b>7:00</b>pm</span>
    activity: Performance Team events
  - time: <span><b>7:30</b>pm</span>
    activity: Open events
  - time: <span><b>9:30</b>pm</span>
    activity: Team Match

syllabusEventsByStyle:
  - title: Syllabus American Smooth
    events:
      - level: Newcomer
        dances:
          - Waltz
          - Tango
          - Foxtrot
          - Viennese&nbsp;Waltz
      - level: Bronze
        dances:
          - Waltz
          - Tango
          - Foxtrot
          - Viennese&nbsp;Waltz
      - level: Silver
        dances:
          - Waltz
          - Tango
          - Foxtrot
          - Viennese&nbsp;Waltz
      - level: Gold
        dances:
          - Waltz
          - Tango
          - Foxtrot
          - Viennese&nbsp;Waltz
      - level: Rookie/Vet
        dances:
          - Waltz
          - Tango
          - Foxtrot
          - Viennese&nbsp;Waltz
  - title: Syllabus International Standard
    events:
      - level: Newcomer
        dances:
          - Waltz
          - Tango
          - Viennese&nbsp;Waltz
          - Slow&nbsp;Foxtrot
          - Quickstep
      - level: Bronze
        dances:
          - Waltz
          - Tango
          - Viennese&nbsp;Waltz
          - Slow&nbsp;Foxtrot
          - Quickstep
      - level: Silver
        dances:
          - Waltz
          - Tango
          - Viennese&nbsp;Waltz
          - Slow&nbsp;Foxtrot
          - Quickstep
      - level: Gold
        dances:
          - Waltz
          - Tango
          - Viennese&nbsp;Waltz
          - Slow&nbsp;Foxtrot
          - Quickstep
      - level: Rookie/Vet
        dances:
          - Waltz
          - Tango
          - Viennese&nbsp;Waltz
          - Slow&nbsp;Foxtrot
          - Quickstep
  - title: Syllabus American Rhythm
    events:
      - level: Newcomer
        dances:
          - Cha-Cha
          - Rumba
          - East&nbsp;Coast&nbsp;Swing
          - Bolero
          - Mambo
      - level: Bronze
        dances:
          - Cha-Cha
          - Rumba
          - East&nbsp;Coast&nbsp;Swing
          - Bolero
          - Mambo
      - level: Silver
        dances:
          - Cha-Cha
          - Rumba
          - East&nbsp;Coast&nbsp;Swing
          - Bolero
          - Mambo
      - level: Gold
        dances:
          - Cha-Cha
          - Rumba
          - East&nbsp;Coast&nbsp;Swing
          - Bolero
          - Mambo
      - level: Rookie/Vet
        dances:
          - Cha-Cha
          - Rumba
          - East&nbsp;Coast&nbsp;Swing
          - Bolero
          - Mambo
  - title: Syllabus International Latin
    events:
      - level: Newcomer
        dances:
          - Cha-Cha
          - Samba
          - Rumba
          - Jive
      - level: Bronze
        dances:
          - Cha-Cha
          - Samba
          - Rumba
          - Paso&nbsp;Doble
          - Jive
      - level: Silver
        dances:
          - Cha-Cha
          - Samba
          - Rumba
          - Paso&nbsp;Doble
          - Jive
      - level: Gold
        dances:
          - Cha-Cha
          - Samba
          - Rumba
          - Paso&nbsp;Doble
          - Jive
      - level: Rookie/Vet
        dances:
          - Cha-Cha
          - Samba
          - Rumba
          - Paso&nbsp;Doble
          - Jive
openEventsByStyle:
  - title: Open American Smooth
    events:
      - level: Novice
        dances:
          - Waltz&nbsp;/ Tango&nbsp;/ Foxtrot
      - level: Pre-champ
        dances:
          - Waltz&nbsp;/ Tango&nbsp;/ Foxtrot&nbsp;/ Viennese&nbsp;Waltz
      - level: Champ
        dances:
          - Waltz&nbsp;/ Tango&nbsp;/ Foxtrot&nbsp;/ Viennese&nbsp;Waltz
  - title: Open International Standard
    events:
      - level: Novice
        dances:
          - Waltz&nbsp;/ Tango&nbsp;/ Quickstep
      - level: Pre-champ
        dances:
          - Waltz&nbsp;/ Tango&nbsp;/ Foxtrot&nbsp;/ Quickstep
      - level: Champ
        dances:
          - Waltz&nbsp;/ Tango&nbsp;/ Viennese&nbsp;Waltz&nbsp;/ Foxtrot&nbsp;/ Quickstep
  - title: Open American Rhythm
    events:
      - level: Novice
        dances:
          - Cha-Cha&nbsp;/ Rumba&nbsp;/ East&nbsp;Coast&nbsp;Swing
      - level: Pre-champ
        dances:
          - Cha-Cha&nbsp;/ Rumba&nbsp;/ East&nbsp;Coast&nbsp;Swing&nbsp;/ Bolero
      - level: Champ
        dances:
          - Cha-Cha&nbsp;/ Rumba&nbsp;/ East&nbsp;Coast&nbsp;Swing&nbsp;/ Bolero&nbsp;/ Mambo
  - title: Open International Latin
    events:
      - level: Novice
        dances:
          - Cha-Cha&nbsp;/ Samba&nbsp;/ Rumba
      - level: Pre-champ
        dances:
          - Cha-Cha&nbsp;/ Samba&nbsp;/ Rumba&nbsp;/ Jive
      - level: Champ
        dances:
          - Cha-Cha&nbsp;/ Samba&nbsp;/ Rumba&nbsp;/ Paso&nbsp;Doble&nbsp;/ Jive
nightclubEventsByStyle:
  - title: Nightclub
    events:
      - level: Beginner
        dances:
          - Salsa
          - Bachata
          - Merengue
          - Hustle
          - West&nbsp;Coast&nbsp;Swing
          - Nightclub&nbsp;Twostep
          - Blues
          - Argentine&nbsp;Tango
          - Lindy&nbsp;Hop
      - level: Non-Beginner
        dances:
          - Salsa
          - Bachata
          - Merengue
          - Hustle
          - West&nbsp;Coast&nbsp;Swing
          - Nightclub&nbsp;Twostep
          - Blues
          - Argentine&nbsp;Tango
          - Lindy&nbsp;Hop
---
<div class="events">
  <div class="container">
    <section>
      <h1>TENTATIVE SCHEDULE</h1>
      <div>
        {% for item in page.schedule %}
          <div class="events-schedule-row">
            <div class="events-schedule-time">{{item.time}}</div>
            <div class="events-schedule-activity">{{item.activity}}</div>
          </div>
        {% endfor %}
        <hr/>
        <p>
          Be sure to arrive at least 30 minutes prior to the beginning of
          your first event.
        </p>
        <hr/>
        <p>
          During the Dinner Break, no one will be allowed in the ballroom.
          There will be a nearby room reserved for competitors to occupy
          during this time.
        </p>
      </div>
    </section>
    <section>
      <h1>LIST OF EVENTS</h1>
      <div>
        <p>
          All of the available Glamour Smackdown events are listed below.  The
          styles are arranged in schedule order, but the order of individual
          levels and dances within a style may not be the same as listed here.
        </p>
        <hr/>
        <p>
          Check the <a href="{{site.github.url}}/rules">rules</a> page for information
          about what levels you can register at.
        </p>
        <hr/>
        <p>
          Note: Before registration opens, the event list is subject to
          change. Join the Glamour Smackdown <a href="https://www.facebook.com/events/125185578202391/" target="_blank">Facebook event</a> to
          be notified when registration opens or anything changes.
        </p>
        <hr/>
        <p>
          Dances in multi-dance events appear in the same bubble, separated
          by slashes.
        </p>
      </div>
    </section>
    <section>
      <h1>SYLLABUS EVENTS</h1>
      <div>
        <!-- Look in _includes/events-eventlist-style.html for the HTML that's repeated here. -->
        {% for s in page.syllabusEventsByStyle %}
          {% include events-eventlist-style.html style=s %}
        {% endfor %}
      </div>
    </section>
    <section>
      <h1>OTHER EVENTS</h1>
      <div>
        <!-- Look in _includes/events-eventlist-style.html for the HTML that's repeated here. -->
        {% for s in page.nightclubEventsByStyle %}
          {% include events-eventlist-style.html style=s %}
        {% endfor %}
        <div class="events-eventlist-style">
          <h2>Performance Teams</h2>
          <hr/>
          <p>
            All performance teams compete against each other in one event.
          </p>
        </div>
      </div>
    </section>
    <section>
      <h1>OPEN EVENTS</h1>
      <div>
        <!-- Look in _includes/events-eventlist-style.html for the HTML that's repeated here. -->
        {% for s in page.openEventsByStyle %}
          {% include events-eventlist-style.html style=s %}
        {% endfor %}
      </div>
    </section>
  </div>
</div>
