.Events {
  padding: 20px 0;
}

.Events-table th,
.Events-table td {
  padding: 4px 10px;
}

.Events-dances {
  line-height: 1.8em;
}
.Events-dance {
  background-color: #2A2D47;
  padding: 3px 8px;
  border-radius: 4px;
}
