.Home {
  padding: 20px 0;
}

.Home-time-row {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}
.Home-time-col {
  padding-right: 40px;
}

.Home-register-link {
  font-size: 1.1em;
}
