.Home {
  padding: 20px 0;
}

.Home-top-section {
  text-align: center;
}

.Home-heading {
  font-family: 'The Bold Font';
  color: #FFF5B8;
}

.Home-info {
  font-weight: lighter;
}

.Home-row {

}

@media only screen and (max-width: 480px) {
}
