.Travel {
  padding: 20px 0;
}

.Travel-map-capsule {
  padding: 12px;
  background-color: #DC1D46;
  border-radius: 20px;
}

.Travel-map-container {
  position: relative;
  overflow: hidden;
  border-radius: 12px;
  height: 500px;
}

.Travel-map {
  width: 100%;
  height: 500px;
  border: 0;
}
