.Travel {
  padding: 20px 0;
}

.Travel-map-capsule {
  background-color: #DC1D46;
  border: 8px solid #DC1D46;
  position: relative;
  overflow: hidden;
  border-radius: 20px;
  height: 500px;
  box-sizing: content-box;
}

.Travel-map {
  width: 100%;
  height: 500px;
  border: 0;
}
