/*
blue: #141438
magenta: #DC1D46
yellow: #FFF5B8

Old:
glamour red:
#B9254B
#FF4D79
#FFA7BD
glamour medium:
#D27451
glamour light:
#F9F6BE
smackdown tan:
#FEF8C6
#E6E5D7
backdrop:
#121422
#1B1D2E
#23253B
#2A2D47
*/

.App {
}

.App-header {
  text-align: center;
}

.App-header-image {
  width: 50%;
  transition: width 0.35s;
}
.App-header-expanded .App-header-image {
  width: 100%;
}
@media only screen and (max-width: 560px) {
  .App-header-image {
    width: 100%;
  }
}



.App-navigation-full-width {
}
.App-navigation-capsule {
  background-color: #DC1D46;
  overflow: hidden;
  border-radius: 1.37em;
}
.App-navigation {
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0.2px;
  display: flex;
}
@media only screen and (max-width: 560px) {
  .App-navigation {
    flex-flow: column nowrap;
    justify-content: flex-start;
  }
}
@media only screen and (min-width: 560px) {
  .App-navigation {
    flex-flow: row wrap;
    justify-content: center;
  }
  .App-navigation-capsule {
    display: inline-block;
    padding-left: 3px;
    padding-right: 3px;
  }
  .App-navigation-link {
    border-radius: 1.37em;
    margin-left: -3px;
    margin-right: -3px;
  }
}

.App-navigation-link {
  z-index: 2;
  line-height: 2.74em;
  height: 2.74em;
  display: block;
  padding-left: 16px;
  padding-right: 16px;
  text-decoration: none;
  color: #FFF5B8;
}
.App-navigation-link:hover {
  text-decoration: none;
  color: #FFF5B8;
  background-color: #EA7374;
  /*background-color: rgba(255,245,184,0.4);*/
}
.App-navigation-link:active {
  text-decoration: none;
  z-index: 0;
  color: #FFF5B8;
  background-color: #E13E58;
  /*background-color: rgba(255,245,184,0.15);*/
}
.App-navigation-link:focus,
.App-navigation-link:visited {
  text-decoration: none;
  color: #FFF5B8;
}

.App-navigation-active {
  z-index: 1;
  text-decoration: none;
  color: #FFF5B8;
  background-color: #E55363;
  /*background-color: rgba(255,245,184,0.25);*/
}
.App-navigation-active:hover {
  background-color: #E55363;
  /*background-color: rgba(255,245,184,0.25);*/
}
.App-navigation-active:active,
.App-navigation-active:focus,
.App-navigation-active:visited {
  color: #FFF5B8;
  text-decoration: none;
}



.App-page {
  min-height: 100vh;
}
